*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
}
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}
.logo{
    width: 5em;
    height: 5em;
    padding-top: 6px;
    padding-left: 6px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 7px 13px;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.title-contact{
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
}


.grid-body{
    font-family: "poppins", sans-serif;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.row{
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;
}
.row .left-grid{
    overflow: hidden;
}
.row .left-grid{
    width: 100%;
    height: 75%;
    object-fit: cover;
}
.row .right-grid{
    display: flex;
    align-items: center;
}
.row .right-grid .content-grid{
    padding-left: 20px;
}
.row .right-grid .content-grid p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
}
@media (max-width: 991px) {
    .row .right-grid .content-grid{
        padding-left: 0;
    }
}
@media (max-width: 768px) {
    .row{
        width: 90%;
        grid-template-columns: 1frS;
    }
}


footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #1b9bff;
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
}
.left .content p{
    text-align: justify;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    height: 40px;
    width: 40px;
    background: #65bcff;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background: #9ad3ff;
}


#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }

    ul{
        z-index: 2;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
.accordion {
    background-color: #1b9bff;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 1em;
  }
  .accordionbot {
    background-color: #1b9bff;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 1em;
  }
  
  .active, .accordion:hover {
    background-color: #0082e6; 
  }
  .active, .accordion:hover {
    background-color: #0082e6;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    margin-bottom: 1em;
  }
  .about, h2{
    margin-left: 2em;
    margin-top: 5em;
    margin-bottom: 2em;
  }
  
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  


  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
}

.prev, .next {
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}