*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
}
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}
.logo{
    width: 5em;
    height: 5em;
    padding-top: 6px;
    padding-left: 6px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 7px 13px;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        z-index: 2;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
.wrapper{
    width: min(900px, 100% - 3rem);
}
table {
    border-collapse: collapse;
    background: #808080;
    margin-bottom: 5em;
    margin-right: auto;
    margin-left: auto;
}

caption, th, td{
    padding: 1rem;
}
caption, th{
    padding: 1rem;
}
caption{
    background: #1b9bff;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}
th{
    background: #808080;
}
tr:nth-of-type(2n){
    background: #9c9c9c
}
@media(max-width: 650px) {
    th{
        display: none;
    }
    td{
        display: grid;
        gap: 0.5rem;
        grid-template-columns:  15ch auto;
        padding: 0.5rem 1rem;
    }
    td:first-child{
        padding-top: 2rem;
    }
    td:before {
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }
    table{
        width: 80%;
    }
}
img{
    width: 100%;
    height: auto;
}
footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #1b9bff;
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
}
.left .content p{
    text-align: justify;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    height: 40px;
    width: 40px;
    background: #65bcff;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background: #9ad3ff;
}

